<div class="app-main ms-5">
    <div class="wrapper">
        <div class="page " id="motor_entry">
            <div class="page-inner">
                <div class="ajax-progressBar">
                    <div class="postProgress"></div>
                </div>

                <header class="page-title-bar">
                    <!-- <h3 id="notification">files </h3> -->

                    <!-- <div class="d-flex justify-content-between align-items-center">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item active">
                              <a href="list"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
                           </li>
                        </ol>
                     </nav>
                  </div> -->
                    <div class="row text-center text-sm-left">
                        <div class="col">
                            <h1 id="policy_title" class="page-title"> {{ title }}
                                <small class="text-muted"> All * marks Fields are
                                    mandatory.
                                </small>
                            </h1>
                        </div>
                    </div>
                </header>

                <style>
                    .invalid {
                        /* background: red; */
                        border: 1px solid red;
                    }
                </style>

                <div class="page-section">
                    <div class="section-block">

                        <form *ngIf="!loading" (ngSubmit)="onSubmit()" [formGroup]="form">

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <fieldset>
                                                <legend>Policy Details</legend>
                                                <div class="form-row">
                                                    <div class="col-md-3 mb-4">
                                                        <label>Product Name<b style="color: red;">*</b></label>
                                                        <ng-select class="text-uppercase "
                                                            formControlName="product_name" placeholder="Select Product"
                                                            [ngClass]="{'invalid': submitted && form.controls['product_name'].errors}">
                                                            <ng-option *ngFor="let product of products"
                                                                [value]="product.name">{{ product.name }}</ng-option>
                                                        </ng-select>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Proposal No.<b style="color: red;">*</b></label>
                                                        <input type="text" class="form-control"
                                                            style="text-transform: uppercase;"
                                                            placeholder="proposal no." formControlName="proposal_no"
                                                            [ngClass]="{'invalid': submitted && form.controls['proposal_no'].errors}">
                                                    </div>
                                                    <div class="col-md-3 mb-4">
                                                        <label>Policy No.<b style="color: red;">*</b></label>
                                                        <input type="text" class="form-control"
                                                            style="text-transform: uppercase;"
                                                            formControlName="policy_no" placeholder="policy no."
                                                            [ngClass]="{'invalid': submitted && form.controls['policy_no'].errors}">
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Insured Name<b style="color: red;">*</b></label>
                                                        <input type="text" class="form-control"
                                                            style="text-transform: uppercase;"
                                                            formControlName="customer_name" placeholder="insured name"
                                                            [ngClass]="{'invalid': submitted && form.controls['customer_name'].errors}">
                                                    </div>
                                                    <div class="col-md-3 mb-4">
                                                        <label>Insurer Name<b style="color: red;">*</b></label>
                                                        <ng-select [items]="insurers" bindLabel="comp_name"
                                                            placeholder="SELECT INSURER" bindValue="comp_name"
                                                            formControlName="insurance_company"
                                                            [ngClass]="{'invalid': submitted && form.controls['insurance_company'].errors}">
                                                        </ng-select>


                                                    </div>
                                                    <div class="col-md-3 mb-4">
                                                        <label>Serving Office<b style="color: red;">*</b></label>
                                                        <ng-select class="text-uppercase" formControlName="sp_name"
                                                            placeholder="Select Branch"
                                                            [ngClass]="{'invalid': submitted && form.controls['sp_name'].errors}">
                                                            <ng-option value="ROHTAK">ROHTAK</ng-option>
                                                            <ng-option value="DELHI">DELHI</ng-option>
                                                        </ng-select>

                                                    </div>
                                                    <div class="col-md-3 mb-4">
                                                        <label>Office Code<b style="color: red;">*</b> </label>
                                                        <ng-select class="text-uppercase "
                                                            formControlName="sp_brokercode" placeholder="Select Code"
                                                            [ngClass]="{'invalid': submitted && form.controls['sp_brokercode'].errors}">
                                                            <ng-option value="124001"> 124001</ng-option>
                                                            <ng-option value="110001"> 1100001</ng-option>
                                                        </ng-select>

                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Policy Type<b style="color: red;">*</b></label>
                                                        <ng-select class="text-uppercase " formControlName="policy_type"
                                                            placeholder="Select Policy Type"
                                                            [ngClass]="{'invalid': submitted && form.controls['policy_type'].errors}">
                                                            <ng-option value="FRESH">FRESH</ng-option>
                                                            <ng-option value="RENEWAL">RENEWAL</ng-option>
                                                            <ng-option value="ROLLOVER">ROLLOVER</ng-option>
                                                            <ng-option value="ENDORSEMENT">ENDORSEMENT</ng-option>
                                                        </ng-select>
                                                    </div>


                                                    <div class="col-md-3 mb-4">
                                                        <label>Risk Start Date<b style="color: red;">*</b></label>
                                                        <div class="input-group input-group-alt flatpickr"
                                                            data-toggle="risk_flatpickr" data-wrap="true"
                                                            data-alt-input="true" data-alt-format="F j, Y"
                                                            data-alt-input-class="form-control"
                                                            data-date-format="Y-m-d">

                                                            <input type="date" class="form-control flatpickr-input"
                                                                [title]="form.controls['risk_start_date'].value"
                                                                placeholder="Choose date..."
                                                                formControlName="risk_start_date"
                                                                [ngClass]="{'invalid': submitted && form.controls['risk_start_date'].errors}">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Risk End Date<b style="color: red;">*</b></label>
                                                        <div class="input-group input-group-alt flatpickr"
                                                            data-toggle="risk_flatpickr" data-wrap="true"
                                                            data-alt-input="true" data-alt-format="F j, Y"
                                                            data-alt-input-class="form-control"
                                                            data-date-format="Y-m-d">

                                                            <input type="date" class="form-control flatpickr-input"
                                                                [title]="form.controls['risk_end_date'].value"
                                                                placeholder="Choose date..."
                                                                formControlName="risk_end_date"
                                                                [ngClass]="{'invalid': submitted && form.controls['risk_end_date'].errors}">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Issued Date<b style="color: red;">*</b></label>
                                                        <div class="input-group input-group-alt flatpickr"
                                                            data-toggle="issue_flatpickr" data-wrap="true"
                                                            data-alt-input="true" ata-alt-format="F j, Y"
                                                            data-alt-input-class="form-control"
                                                            data-date-format="Y-m-d">

                                                            <input type="date"
                                                                class="form-control flatpickr-input black-out"
                                                                [title]="form.controls['issue_date'].value"
                                                                placeholder="Choose date..."
                                                                formControlName="issue_date"
                                                                [ngClass]="{'invalid': submitted && form.controls['issue_date'].errors}">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Policy Term<b style="color: red;">*</b></label>
                                                        <ng-select class="text-uppercase " formControlName="policy_term"
                                                            placeholder="Select Term"
                                                            [ngClass]="{'invalid': submitted && form.controls['policy_term'].errors}">
                                                            <ng-option value="1">1</ng-option>
                                                            <ng-option value="5">5</ng-option>
                                                            <ng-option value="10">10</ng-option>
                                                        </ng-select>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>POSP<b style="color: red;">*</b></label>
                                                        <input type="text" data-bs-toggle="modal"
                                                            [title]="form.controls['pos_name'].value ===null ? '' : form.controls['pos_name'].value"
                                                            data-bs-target="#modalPOSP"
                                                            class="form-control text-uppercase " formControlName="pos"
                                                            placeholder="Select POSP" readonly
                                                            [ngClass]="{'invalid': submitted && (form.controls['pos'].errors || form.controls['pos_name'].errors )}">

                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>BQP<b style="color: red;">*</b></label>
                                                        <select class="custom-select" formControlName="bqp"
                                                            [ngClass]="{'invalid': submitted && form.controls['bqp'].errors}">
                                                            <option value="">-- Select BQP --</option>
                                                            <option value="SATVEER SINGH"> SATVEER SINGH </option>

                                                        </select>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Employee<b style="color: red;">*</b></label>
                                                        <input type="text" class="form-control" readonly
                                                            style="text-transform: uppercase;  background-color: lightgray;"
                                                            formControlName="employee"
                                                            [ngClass]="{'invalid': submitted && form.controls['employee'].errors}">
                                                    </div>


                                                    <div class="col-md-3 mb-4">
                                                        <label>Proposal <small>(Only<strong> PDF &amp; Image
                                                                </strong>File)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="proposal" accept=".pdf,image/"
                                                                id="proposal" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_proposal" name="lbl_proposal"
                                                                class="custom-file-label" for="proposal">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['proposal'].value }} </a>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Mandate <small>(Only<strong> PDF &amp; Image
                                                                </strong>File)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="mandate" accept=".pdf,image/"
                                                                id="mandate" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_mandate" name="lbl_mandate"
                                                                class="custom-file-label" for="mandate">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['mandate'].value }} </a>

                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Policy <small>(Only<strong> PDF &amp; Image
                                                                </strong>File)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="policy" accept=".pdf,image/"
                                                                id="policy" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_policy" name="lbl_policy"
                                                                class="custom-file-label" for="policy">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['policy'].value }} </a>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Prev. Policy <small>(Only<strong> PDF &amp; Image
                                                                </strong>)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="previous_policy"
                                                                accept=".pdf,image/" id="previous_policy"
                                                                class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_previous_policy" name="lbl_previous_policy"
                                                                class="custom-file-label" for="previous_policy">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['previous_policy'].value }} </a>
                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Pan Card <small>(Only<strong> PDF &amp; Image
                                                                </strong>)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="pan_card" accept=".pdf,image/"
                                                                id="pan_card" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_pan_card" name="lbl_pan_card"
                                                                class="custom-file-label" for="pan_card">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['pan_card'].value }} </a>

                                                    </div>

                                                    <div class="col-md-3 mb-4">
                                                        <label>Aadhar Card / GST<small>(Only<strong> PDF &amp; Image
                                                                </strong>)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="aadhar_card" accept=".pdf,image/"
                                                                id="aadhar_card" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_aadhar_card" name="lbl_aadhar_card"
                                                                class="custom-file-label" for="aadhar_card">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['aadhar_card'].value }} </a>

                                                    </div>

                                                    <div class="col-md-4 mb-4">
                                                        <label>Inspection Report <small>(Only<strong> PDF &amp; Image
                                                                </strong>)</small> </label>
                                                        <div class="custom-file">
                                                            <input type="file" name="inspection_report"
                                                                accept=".pdf,image/" id="inspection_report"
                                                                class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label id="lbl_inspection_report"
                                                                name="lbl_inspection_report" class="custom-file-label"
                                                                for="inspection_report">Choose
                                                                file</label>
                                                        </div>
                                                        <a
                                                            style="text-decoration: underline; color: blue; cursor: pointer;">{{
                                                            form.controls['inspection_report'].value }} </a>

                                                    </div>

                                                    <div class="col-md-4 mb-4">
                                                        <label for="remark">Remarks <abbr title=""
                                                                class="text-danger">*</abbr></label>
                                                        <input id="remark" type="text" maxlength="255"
                                                            class="form-control" style="text-transform: uppercase;"
                                                            formControlName="remark">
                                                    </div>

                                                </div>

                                            </fieldset>
                                            <p class="mb-4"></p>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-12">

                                    <div class="card">

                                        <div class="card-body">
                                            <!-- .card-body -->
                                            <h4 class="card-title mb-3"> Premium Details </h4>
                                            <!-- grid row -->
                                            <div class="row mb-2">
                                                <label class="col-lg-5">OD Premium<b style="color: red;">*</b></label>
                                                <input type="text" (input)="calculatePremiumValues()"
                                                    class="form-control col-lg-6 " formControlName="OD_premium"
                                                    [ngClass]="{'invalid': submitted && form.controls['OD_premium'].errors}">
                                            </div>
                                            <div class="row mb-2">
                                                <label class="col-lg-5">TP/Terrorism<b style="color: red;">*</b></label>
                                                <input type="text" (input)="calculatePremiumValues()"
                                                    class="form-control col-lg-6 " formControlName="TP_terrorism"
                                                    [ngClass]="{'invalid': submitted && form.controls['TP_terrorism'].errors}">

                                            </div>
                                            <div class="row mb-2">
                                                <label class="col-lg-5">Net Premium<b style="color: red;">*</b></label>
                                                <input type="text" class="form-control col-lg-6  bg-light" readonly=""
                                                    tabindex="-1" formControlName="net"
                                                    [ngClass]="{'invalid': submitted && form.controls['net'].errors}">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="col-lg-5">GST 18%<b style="color: red;">*</b></label>
                                                <input type="text" class="form-control col-lg-6 bg-light" readonly
                                                    tabindex="-1" formControlName="gst_amount"
                                                    [ngClass]="{'invalid': submitted && form.controls['gst_amount'].errors}">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="col-lg-5">Total=(Net+GST)<b
                                                        style="color: red;">*</b></label>
                                                <input type="text" class="form-control  col-lg-6 bg-light" readonly=""
                                                    tabindex="-1" formControlName="total"
                                                    [ngClass]="{'invalid': submitted && form.controls['total'].errors}">
                                            </div>


                                            <div class="row mb-2">
                                                <label class="col-lg-5 pr-0 ">Payment <br> Mode<b
                                                        style="color: red;">*</b></label>
                                                <select class="custom-select col-lg-6" formControlName="payment_mode"
                                                    [ngClass]="{'invalid': submitted && form.controls['payment_mode'].errors}">
                                                    <option value=""> -- Select Payment Mode -- </option>
                                                    <option value="ONLINE" selected>ONLINE</option>
                                                    <option value="CHEQUE"> CHEQUE</option>
                                                    <option value="CASH">CASH</option>
                                                </select>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>

                            <hr>
                            <!-- submit data -->
                            <div class="form-row">
                                <div class="col-md-12 col-sm-12" style="background-color: #346CB0; ">
                                    <div id="payoutSection" class="card card-inverse "
                                        style="background-color: #346CB0;">
                                        <!-- .card -->
                                        <div class="card-header p-2">
                                            <h4 class="card-title mb-1">Payouts</h4>
                                        </div>
                                        <div class="card-body" style="background-color: #346CB0; ">
                                            <p><span class="icofont icofont-hand-right ml-1"></span> The Payout will be
                                                shown as
                                                per the Policy Details</p>
                                            <p><span class="icofont icofont-hand-right ml-1"></span> You can add manual
                                                Payout
                                                after the Policy saved</p>
                                            <div class="text-center">
                                                <button
                                                    style="background-color: #FFFFFF; color: #346CB0; font-weight: bold;"
                                                    type="submit" class="btn w-100p">
                                                    <span *ngIf="submitting"
                                                        class="spinner-border spinner-border-sm me-1"></span>
                                                    {{ submitTitle }}
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>



                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPOSP" tabindex="-1" aria-labelledby="modalPOSPLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalPOSPLabel">
                    Select POSP </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span class="mb-1">POSP<b style="color: red;">*</b></span>
                    <ng-select class=" text-uppercase " placeholder="Select POSP" [(ngModel)]="selectedPOSP">

                        @for (agent of agents; track $index) {
                        @if (agent.status === 'Active') {
                        <ng-option [value]="agent.posp_code + '|' + agent.full_name">{{
                            agent.posp_code}} | {{
                            agent.full_name}}</ng-option>
                        }
                        }
                    </ng-select>
                </div>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-primary " (click)="setPOSP()" data-bs-dismiss="modal">Save
                </button>
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>