<div class="app-main ms-5">
    <div class="wrapper">
        <div class="page" id="entrylist">
            <div class="page-inner text-blue116">
                <header class="page-title-bar">
                    <div class="row">
                        <div class="col">
                            <h1 id="page_heading" class="page-title" style="display: inline-block;">{{title}}</h1>

                            <!-- <a routerLink="/users/add" class="btn btn-secondary btn-sm float-right mr-2"><i
                                    class="fa fa-plus"></i> Add
                                New</a> -->
                        </div>
                    </div>
                </header>

                <!-- .card -->
                <div class="card card-fluid">

                    <div class="card-body">

                        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="row ">
                                <div class="mb-3 col">
                                    <label class="form-label">First Name</label>
                                    <input type="text" formControlName="firstName" class="form-control text-uppercase"
                                        placeholder="First Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" formControlName="lastName" placeholder="Last Name"
                                        class="form-control text-uppercase"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Username</label>
                                    <input type="text" formControlName="username" class="form-control text-uppercase"
                                        placeholder="Username"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Password</label>
                                    <input type="password" formControlName="password" placeholder="Password"
                                        name="password" autocomplete="new-password" class="form-control text-uppercase"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Mobile Number</label>
                                    <input type="text" formControlName="mobileNumber" class="form-control text-uppercase"
                                        placeholder="Mobile Number"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                                    <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
                                    </div>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Email ID</label>
                                    <input type="text" formControlName="email" placeholder="Email ID"
                                        class="form-control text-lowercase"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email ID is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label>User Role<b style="color: red;">*</b></label>
                                    <select class="custom-select text-uppercase" formControlName="role"
                                        [ngClass]="{'is-invalid': submitted && form.controls['role'].errors}">
                                        <!-- <option value="" [selected]="true">-- Select Role --</option> -->
                                        <option value="" >-- Select Role --</option>
                                        <option value="LEAD"> LEAD</option>
                                        <option value="ADMIN"> ADMIN</option>
                                    </select>   
                                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                        <div *ngIf="f.role.errors.required">Role is required</div>
                                    </div>                               
                                </div>

                                <div class="mb-3 col">
                                    <label>Status<b style="color: red;">*</b></label>
                                    <select id="status" class="custom-select text-uppercase" formControlName="status"
                                        [ngClass]="{'is-invalid': submitted && form.controls['status'].errors}">
                                        <!-- <option value="" [selected]="true">-- Select Status --</option> -->
                                        <option >-- Select Status --</option>
                                        <option value="ACTIVE"> ACTIVE</option>
                                        <option value="PENDING"> PENDING</option>
                                    </select>
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">Status is required</div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3">
                                <button [disabled]="submitting" class="btn btn-primary">
                                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                    Save
                                </button>
                                <a routerLink="/users" class="btn btn-link">Cancel</a>
                            </div>
                        </form>

                        <div *ngIf="loading" class="text-center m-5">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </div>

                        <!-- <a id="upButton" class="btn  " href="#" title="Scroll to Top">
                            <i class="fas fa-chevron-up"></i>
                        </a> -->

                        <button id="pevButton" class="btn btn-secondary mt-3" hidden
                            style="float: right; background-color: #346CB0; color: #FFFFFF; ">Back</button>

                    </div>



                    <!-- /.page-inner -->
                </div>
                <!-- /.page -->
            </div>

        </div>
    </div>
</div>