

<div class="app-main ms-5">
    <div class="wrapper">
      <div class="page " id="motor_entry">
        <div class="page-inner">
          <div class="ajax-progressBar">
            <div class="postProgress"></div>
          </div>
  
          <header class="page-title-bar">
            <!-- <h3 id="notification">files </h3> -->
  
            <!-- <div class="d-flex justify-content-between align-items-center">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   <li class="breadcrumb-item active">
                      <a href="list"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
                   </li>
                </ol>
             </nav>
          </div> -->
            <div class="row text-center text-sm-left">
              <div class="col">
                <h1 id="policy_title" class="page-title"> {{ title }}
                  <small class="text-muted"> All * marks Fields are
                    mandatory.
                  </small>
                </h1>
              </div>
            </div>
          </header>
  
          <style>
            .invalid {
              /* background: red; */
              border: 1px solid red;
            }
          </style>
  
          <div class="page-section">
            <div class="section-block">
  
              <form *ngIf="!loading" (ngSubmit)="onSubmit()" [formGroup]="form">
  
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <fieldset>
                          <legend>Payout Details</legend>
  
                          <div class="form-row">
                            <!--                                                    <div class="col-md-3 mb-4">-->
                            <!--                                                        <label>Payout Name<b style="color: red;">*</b></label>-->
                            <!--                                                        <input type="text" class="form-control"-->
                            <!--                                                            style="text-transform: uppercase;"-->
                            <!--                                                            formControlName="payout_name" placeholder="payout name"-->
                            <!--                                                            [ngClass]="{'invalid': submitted && form.controls['payout_name'].errors}">-->
                            <!--                                                    </div>-->
  
                            <div class="col-md-3 mb-4">
                              <label>Is Vehicle New/Old <b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase "
                                         formControlName="isVehicleNew"
                                         placeholder="Select New / Old"
                                         [ngClass]="{'invalid': submitted && form.controls['isVehicleNew'].errors}"
                                         (change)="addValuesAndValidators()">
                                <ng-option value="NEW">NEW</ng-option>
                                <ng-option value="OLD">OLD</ng-option>
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4">
                              <label>Age of Vehicle<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " formControlName="vehicleAge"
                                         placeholder="Select Age"
                                         [ngClass]="{'invalid': submitted && form.controls['vehicleAge'].errors}">
                                <ng-option value="5">5 yrs</ng-option>
                                <ng-option value="RENEWAL">Upto 5 years</ng-option>
                                <ng-option value="RENEWAL">Upto 7 years</ng-option>
                                <ng-option value="RENEWAL">Upto 10 years</ng-option>
                                <ng-option value="RENEWAL">Above 10 years</ng-option>
                                <ng-option value="RENEWAL"> 5 - 7 years</ng-option>
                                <ng-option value="RENEWAL">7 - 10 years</ng-option>
  
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4">
                              <label>Insurer Name<b style="color: red;">*</b></label>
  
                              <ng-select [items]="insurers" bindLabel="comp_name"
                                         placeholder="SELECT INSURER" bindValue="comp_name"
                                         formControlName="insurance_company"
                                         [ngClass]="{'invalid': submitted && form.controls['insurance_company'].errors}">
                              </ng-select>
  
                            </div>
  
  
  
                            <div class="col-md-3 mb-4">
                              <label>Vehicle Category<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase "
                                         formControlName="vehicle_catagory"
                                         placeholder="Select Category"
                                         [ngClass]="{'invalid': submitted && form.controls['vehicle_catagory'].errors}"
                                         (change)="addValuesAndValidators()">
                                <ng-option *ngFor="let category of vehicleCategories"
                                           [value]="category">{{ category }}
                                </ng-option>
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4">
                              <label>Vehicle Make<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase"
                                         formControlName="vehicle_makeby" placeholder="Select Make"
                                         [ngClass]="{'invalid': submitted && form.controls['vehicle_makeby'].errors}">
                                @for (item of makes$; track $index) {
                                  <ng-option value="{{item.make}}"> {{
                                      item.make
                                    }}
                                  </ng-option>
                                }
                              </ng-select>
                            </div>
  
  
                            <div class="col-md-3 mb-4">
                              <label>Vehicle Model<b style="color: red;">*</b></label>
                              <ng-select class="custom text-uppercase"
                                         formControlName="vehicle_model" placeholder="Select Model"
                                         [ngClass]="{'invalid': submitted && form.controls['vehicle_model'].errors}">
                                @for (item of models$; track $index) {
                                  <ng-option value="{{item.model}}"> {{
                                      item.model
                                    }}
                                  </ng-option>
                                }
                              </ng-select>
                            </div>
  
  
                            <div class="col-md-3 mb-4">
                              <label>Vehicle Fuel Type<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase "
                                         formControlName="vehicle_fuel_type"
                                         placeholder="Select Fuel Type"
                                         [ngClass]="{'invalid': submitted && form.controls['vehicle_fuel_type'].errors}">
                                <ng-option value="PETROL">PETROL</ng-option>
                                <ng-option value="DIESEL">DIESEL</ng-option>
                                <ng-option value="CNG">CNG</ng-option>
                                <ng-option value="ELECTRIC">ELECTRIC</ng-option>
                              </ng-select>
                            </div>
                            <div class="col-md-3 mb-4">
                              <label>Is Vehicle Non-Highend/Highend <b style="color: red;">*</b></label>
                              <ng-select class="custom text-uppercase"
                                         formControlName="isHighend" placeholder="Non-Highend/Highend"
                                         [ngClass]="{'invalid': submitted && form.controls['isHighend'].errors}">
                                <ng-option value="Non_Highend">Non Highend</ng-option>
                                <ng-option value="Highend">Highend</ng-option>
  
                              </ng-select>
                            </div>
                            <div class="col-md-3 mb-4">
                              <label>Addon<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " placeholder="Select Addon"
                                         formControlName="addon"
                                         [ngClass]="{'invalid': submitted && form.controls['addon'].errors}">
                                <!-- <ng-option value="" hidden>-- Select Addon --</ng-option> -->
                                <ng-option value="YES">YES</ng-option>
                                <ng-option value="NO">NO</ng-option>
                              </ng-select>
                            </div>
                            <div class="col-md-3 mb-4">
                              <label>NCB<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " formControlName="ncb"
                                         placeholder="Select NCB"
                                         [ngClass]="{'invalid': submitted && form.controls['ncb'].errors}">
                                <ng-option value="YES">YES</ng-option>
                                <ng-option value="NO">NO</ng-option>
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4" [hidden]="cubicCapacities.length === 0">
                              <label>Cubic Capacity<b style="color: red;">*</b></label>
                              <ng-select class=" text-uppercase " [items]="cubicCapacities"
                                         formControlName="cubic_capacity"
                                         placeholder="Select Capacity"
                                         [ngClass]="{'invalid': submitted && form.controls['cubic_capacity'].errors}">
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4" [hidden]="coverageTypes.length === 0">
                              <label>Coverage Type<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " [items]="coverageTypes"
                                         formControlName="coverage_type"
                                         placeholder="Select Coverage"
                                         [ngClass]="{'invalid': submitted && form.controls['coverage_type'].errors}">
  
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4" [hidden]="!showSeatingCapacity">
                              <label>Seating Capacity<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase "
                                         formControlName="seating_capacity"
                                         placeholder="Select Seating"
                                         [ngClass]="{'invalid': submitted && form.controls['seating_capacity'].errors}">
                                <ng-option value="BELOW 5">BELOW 5</ng-option>
                                <ng-option value="5-7">5-7</ng-option>
                                <ng-option value="7-12">7-12</ng-option>
                                <ng-option value="12-18">12-18</ng-option>
                                <ng-option value="ABOVE 18">ABOVE 18</ng-option>
                              </ng-select>
                            </div>
  
                            <!-- <div class="col-md-3 mb-4" id="seating_capacityDiv1" hidden>
                                <label for="seating_capacity1">Seating Capacity <abbr
                                        class="text-danger">*</abbr></label><input type="text"
                                    value="" class="form-control col-lg-6 maskNumField"
                                    name="seating_capacity1" id="seating_capacity1"
                                    maxlength="2" formControlName="registration_no">
                            </div> -->
  
                            <div class="col-md-3 mb-4" [hidden]="!showGCV">
                              <label>GVW<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " formControlName="gvw"
                                         placeholder="Select GVW"
                                         [ngClass]="{'invalid': submitted && form.controls['gvw'].errors}">
                                <ng-option value="BELOW 2000">BELOW 2000</ng-option>
                                <ng-option value="2000-2500">2000-2500</ng-option>
                                <ng-option value="2500-3500">2500-3500</ng-option>
                                <ng-option value="3500-7000">3500-7000</ng-option>
                                <ng-option value="7000-7500">7000-7500</ng-option>
                                <ng-option value="7500-12000">7500-12000</ng-option>
                                <ng-option value="12000-25000">12000-25000</ng-option>
                                <ng-option value="25000-40000">25000-40000</ng-option>
                                <ng-option value="ABOVE 40000">ABOVE 40000</ng-option>
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4">
                              <label>CPA<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " formControlName="cpa"
                                         placeholder="Select CPA"
                                         [ngClass]="{'invalid': submitted && form.controls['cpa'].errors}">
                                <ng-option value="YES">YES</ng-option>
                                <ng-option value="NO">NO</ng-option>
                              </ng-select>
                            </div>
  
  
                            <div class="col-md-3 mb-4">
                              <label>Policy Term<b style="color: red;">*</b></label>
                              <ng-select class="text-uppercase " formControlName="policy_term"
                                         placeholder="Select Term"
                                         [ngClass]="{'invalid': submitted && form.controls['policy_term'].errors}">
                                <ng-option value="1">1</ng-option>
                                <ng-option value="2">2</ng-option>
                                <ng-option value="3">3</ng-option>
                                <ng-option value="4">4</ng-option>
                                <ng-option value="5">5</ng-option>
                              </ng-select>
                            </div>
  
                            <div class="col-md-3 mb-4">
                              <label for="remark">Remarks <abbr title=""
                                                                class="text-danger">*</abbr></label>
                              <input id="remark" type="text" maxlength="255" placeholder="Remark"
                                     class="form-control" style="text-transform: uppercase;"
                                     formControlName="remark">
                            </div>
  
                          </div>
  
                        </fieldset>
                        <p class="mb-4"></p>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
  
  
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <!-- .card-body -->
                        <h4 class="card-title mb-3">POS Payout Details </h4>
                        <!-- grid row -->
                        <div class="row mb-2">
                          <label class="col-lg-5">OD %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6 "
                                 formControlName="od_pos"
                                 [ngClass]="{'invalid': submitted && form.controls['od_pos'].errors}">
                        </div>
  
                        <div class="row mb-2">
                          <label class="col-lg-5">TP %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6  t"
                                 formControlName="tp_pos"
                                 [ngClass]="{'invalid': submitted && form.controls['tp_pos'].errors}">
                        </div>
  
  
                      </div>
                    </div>
  
                    <!-- <br> -->
  
                    <div class="card">
                      <div class="card-body">
                        <!-- .card-body -->
                        <h4 class="card-title mb-3">Experiya Commission Details </h4>
                        <!-- grid row -->
                        <div class="row mb-2">
                          <label class="col-lg-5">OD %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6 "
                                 formControlName="od_commission"
                                 [ngClass]="{'invalid': submitted && form.controls['od_commission'].errors}">
                        </div>
                        <div class="row mb-2">
                          <label class="col-lg-5">TP %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6 "
                                 formControlName="tp_commission"
                                 [ngClass]="{'invalid': submitted && form.controls['tp_commission'].errors}">
  
                        </div>
  
                        <h4 class="card-title mb-3">Experiya Reward Details </h4>
  
                        <div class="row mb-2">
                          <label class="col-lg-5">OD %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6  "
                                 formControlName="od_reward"
                                 [ngClass]="{'invalid': submitted && form.controls['od_reward'].errors}">
                        </div>
  
                        <div class="row mb-2">
                          <label class="col-lg-5">TP %age<b style="color: red;">*</b></label>
                          <input type="text" class="form-control col-lg-6 "
                                 formControlName="tp_reward"
                                 [ngClass]="{'invalid': submitted && form.controls['tp_reward'].errors}">
                        </div>
  
                      </div>
                    </div>
  
                  </div>
  
  
                </div>
  
                <hr>
                <!-- submit data -->
                <div class="form-row">
                  <div class="col-md-12 col-sm-12" style="background-color: #346CB0; ">
                    <div id="payoutSection" class="card card-inverse "
                         style="background-color: #346CB0;">
                      <!-- .card -->
                      <div class="card-header p-2">
                        <h4 class="card-title mb-1">Payouts</h4>
                      </div>
                      <div class="card-body" style="background-color: #346CB0; ">
                        <p><span class="icofont icofont-hand-right ml-1"></span> The Payout will be
                          shown as
                          per the Policy Details</p>
                        <p><span class="icofont icofont-hand-right ml-1"></span> You can add manual
                          Payout
                          after the Policy saved</p>
                        <div class="text-center">
                          <button
                            style="background-color: #FFFFFF; color: #346CB0; font-weight: bold;"
                            type="submit" class="btn w-100p">
                                                      <span *ngIf="submitting"
                                                            class="spinner-border spinner-border-sm me-1"></span>
                            {{ submitTitle }}
                          </button>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </form>
  
            </div>
  
  
          </div>
  
        </div>
      </div>
    </div>
  </div>