<div style="height: 550px;width: 650px;" class="container offset-md-3 mt-5  ">
    <div style="margin-top: 10%;margin-left: 15%;  border-radius: 10px; margin-right: 150px; " class="card font ">
        <h4 class="card-header " style="margin-top: -10px; text-align: center; align-items: center;">Login</h4>
        <h3 style="  font-family: Rosarivo;  font-weight: 400; text-align: center;">Welcome Back!</h3>

        <img src="assets/1.jpeg" alt="Experiya Elite"
            style="height: 70px; width: 70px; display: block;margin-left: 150px; ">
        
        <p style="font-weight: 400px;font-size: 21px; margin-left: 60px;"> We are excited to see you again! Please login
             to continue with our services.</p>
        <div class="card-body" style="margin-top: 8px; ">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-5.5" style="margin-top: -20px;">
                    <label class="form-label"></label>
                    <input type="text" formControlName="username" placeholder="Enter User Name" class="form-control "
                        style="background: #A5C2C645; border-radius: 8px;
                    " [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required </div>
                    </div>


                </div>
                <div class="mb-4 ">
                    <label class="form-label" style="height: 20px; width: 40;"></label>
                    <input type="password" formControlName="password" placeholder="Enter User Password"
                        class="form-control" style="background: #A5C2C645;border-radius: 8px; 
                    " [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>

                <div style="margin-top: 30px;">
                    <button style="background: #0036A1; width: 100%; display: block;
                    " [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Login
                    </button>
                    <a style="background-color: #0036A1;width: 100%;
                    " routerLink="../register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>